pipeline/delta_purgerecords_pipe.json
{
	"name": "delta_purgerecords_pipe",
	"properties": {
		"activities": [
			{
				"name": "getrecords_forpurge",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "foreach_record_query",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[USP_Get_PurgedObject]",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "az_sql_hcp_data",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "foreach_record",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "getrecords_forpurge",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('getrecords_forpurge').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "delete_staged_object",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "az_object_upload_prod_ds",
									"type": "DatasetReference",
									"parameters": {
										"relativeURL": "@item().ObjectPath"
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								}
							}
						},
						{
							"name": "fill_object_properties",
							"type": "AzureFunctionActivity",
							"dependsOn": [
								{
									"activity": "delete_staged_object",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"functionName": "deleterecord",
								"method": "POST",
								"headers": {
									"Content-Type": "application/json"
								},
								"body": {
									"value": "@item().Id",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "az_func_update_objectprops",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "get_queries_to_process_lkup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from tblhcpqueries where status='CheckForPurge'",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "azsql_csv_sql_ds",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "foreach_record_query",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get_queries_to_process_lkup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get_queries_to_process_lkup').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "usp_update_query_status",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[USP_UpdateQuery_Status]",
								"storedProcedureParameters": {
									"id": {
										"value": "@item().Id",
										"type": "Guid"
									},
									"processPurge": {
										"value": "true",
										"type": "Boolean"
									},
									"status": {
										"value": "Complete",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "az_sql_ls",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}