pipeline/Main.json
{
	"name": "Main",
	"properties": {
		"activities": [
			{
				"name": "until_records_processed",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@lessOrEquals(activity('get_records_with_InitialStatus').output.Value,1)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "processor_hcp_pipe",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "get_records_with_InitialStatus",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "processor_hcp_pipe",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "get_records_with_InitialStatus",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[USP_Get_ObjectsWithInitialStatus]",
								"storedProcedureParameters": {
									"count": {
										"value": {
											"value": "@pipeline().parameters.CountofRecordsToProcess",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "az_sql_ls",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "processor_copy_db_pipe",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "processor_azure_fillprops_pipe",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "processor_sql_cosmos_pipe",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "cleanup_pipe",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "processor_copy_db_pipe",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "cleanup_pipe",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "processor_azure_pipe",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "processor_hcp_pipe",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "processor_azure_pipe",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "processor_azure_fillprops_pipe",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "processor_azure_pipe",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "processor_azure_fillprops_pipe",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			}
		],
		"parameters": {
			"CountofRecordsToProcess": {
				"type": "int",
				"defaultValue": 1
			}
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}