pipeline/postprocessor_pipe.json
{
	"name": "postprocessor_pipe",
	"properties": {
		"activities": [
			{
				"name": "get_objects_cleanup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select id,custommetadataexists,objectpath from tblhcpdata where [IsObjectCleanedUp]=0 and status='completed'",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "az_sql_hcp_data",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "foreach_object_cleanup",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get_objects_cleanup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get_objects_cleanup').output.value",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}