pipeline/preprocessor_pipe.json
{
	"name": "preprocessor_pipe",
	"properties": {
		"activities": [
			{
				"name": "copy_query_sql",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "IngestStartDateTime",
									"type": "String"
								},
								"sink": {
									"name": "IngestStartDateTime",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "IngestEndDateTime",
									"type": "String"
								},
								"sink": {
									"name": "IngestEndDateTime",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "NameSpace",
									"type": "String"
								},
								"sink": {
									"name": "Namespace",
									"type": "String"
								}
							},
							{
								"source": {
									"name": "CountOfRecordsToBeProcessedAtOnce",
									"type": "String"
								},
								"sink": {
									"name": "RecordsCount",
									"type": "Int32"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "csv_sql_ds",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "azsql_csv_sql_ds",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "get_queries_to_process_lkup",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "copy_query_sql",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from tblhcpqueries where status='Initial'",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "azsql_csv_sql_ds",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "foreach_query",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get_queries_to_process_lkup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get_queries_to_process_lkup').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "upload_hcpdata_to_sql",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"additionalColumns": [
										{
											"name": "BatchId",
											"value": "@item().Id"
										}
									],
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "POST",
									"requestBody": {
										"value": "@{concat('<queryRequest><object><query>namespace:',item().namespace,' +ingestTimeString:[',item().ingestStartDateTime,' TO ',item().ingestEndDateTime,']</query><verbose>true</verbose></object></queryRequest>')}",
										"type": "Expression"
									},
									"additionalHeaders": {
										"Authorization": "HCP ZGF0YWFjY2Vzc3VzZXIwMQ==:2b1130feb9e66aed8403dea732c16492",
										"Content-Type": "application/xml"
									}
								},
								"sink": {
									"type": "AzureSqlSink"
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "hcp_data_download_ds",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "az_sql_hcp_data",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"annotations": []
	}
}