pipeline/processor_pipe.json
{
	"name": "processor_pipe",
	"properties": {
		"activities": [
			{
				"name": "get_objects_to_process_lkup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[USP_Get_ObjectsToProcess]",
						"storedProcedureParameters": {
							"baseURL": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.baseURL",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "azsql_csv_sql_ds",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "foreach_object",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get_objects_to_process_lkup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get_objects_to_process_lkup').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "upload_object_to_stage_strg",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AvroSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET",
										"additionalHeaders": "Authorization: HCP ZGF0YWFjY2Vzc3VzZXIwMQ==:2b1130feb9e66aed8403dea732c16492",
										"requestTimeout": ""
									}
								},
								"sink": {
									"type": "AvroSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									},
									"formatSettings": {
										"type": "AvroWriteSettings",
										"quoteAllText": true
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "hcp_object_download_ds",
									"type": "DatasetReference",
									"parameters": {
										"relativeURL": {
											"value": "@item().ObjectPath",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "az_object_upload_stg_ds",
									"type": "DatasetReference",
									"parameters": {
										"relativeURL": {
											"value": "@item().ObjectPath",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "update_status_ObjectStaged",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "upload_object_to_stage_strg",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[USP_UpdateHcpData_Status]",
								"storedProcedureParameters": {
									"id": {
										"value": "@item().Id",
										"type": "Guid"
									},
									"status": {
										"value": "ObjectStaged",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "az_sql_ls",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"baseURL": {
				"type": "string",
				"defaultValue": "https://ns01.tenant01.coe-hcp01.hitachivantara.com/rest/"
			},
			"azurecontainer": {
				"type": "string",
				"defaultValue": "evidential"
			},
			"azurestagecontainer": {
				"type": "string",
				"defaultValue": "hcpstage"
			}
		},
		"annotations": []
	}
}