pipeline/query_info_pipe.json
{
	"name": "query_info_pipe",
	"properties": {
		"activities": [
			{
				"name": "copy from CSV to DB",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "IngestStartDateTime",
									"type": "String"
								},
								"sink": {
									"name": "IngestStartDateTime"
								}
							},
							{
								"source": {
									"name": "IngestEndDateTime",
									"type": "String"
								},
								"sink": {
									"name": "IngestEndDateTime"
								}
							},
							{
								"source": {
									"name": "NameSpace",
									"type": "String"
								},
								"sink": {
									"name": "Namespace"
								}
							},
							{
								"source": {
									"name": "CountOfRecordsToBeProcessedAtOnce",
									"type": "String"
								},
								"sink": {
									"name": "RecordsCount"
								}
							}
						]
					}
				},
				"inputs": [
					{
						"referenceName": "csvforquery",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "hcp_query_param_data",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Get_Query_Info",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "copy from CSV to DB",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[USP_Get_QueryData_By_Status]",
						"storedProcedureParameters": {
							"status": {
								"type": "String",
								"value": "Initial"
							}
						},
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "hcp_query_param_data",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachQuery",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get_Query_Info",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get_Query_Info').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "hcpapi_sql_pipe",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "update_query_status_InProgress",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "hcpapi_sql_pipe",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						},
						{
							"name": "update_query_status_InProgress",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[USP_Update_QueryData_Status]",
								"storedProcedureParameters": {
									"id": {
										"value": {
											"value": "@item().Id",
											"type": "Expression"
										},
										"type": "Guid"
									},
									"status": {
										"value": "InProcess",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "capita_hcpdata_db",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "update_query_status_processed",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "hcpapi_sql_pipe",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[USP_Update_QueryData_Status]",
								"storedProcedureParameters": {
									"id": {
										"value": {
											"value": "@item().Id",
											"type": "Expression"
										},
										"type": "Guid"
									},
									"status": {
										"value": "processed",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "capita_hcpdata_db",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "update_query_status_failed",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "hcpapi_sql_pipe",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[USP_Update_QueryData_Status]",
								"storedProcedureParameters": {
									"id": {
										"value": {
											"value": "@item().Id",
											"type": "Expression"
										},
										"type": "Guid"
									},
									"status": {
										"value": "failed",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "capita_hcpdata_db",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}