dev-capita-df/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "dev-capita-df"
		},
		"az_cosmos_ls_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'az_cosmos_ls'"
		},
		"az_func_update_objectprops_functionKey": {
			"type": "secureString",
			"metadata": "Secure string for 'functionKey' of 'az_func_update_objectprops'"
		},
		"az_sql_ls_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'az_sql_ls'"
		},
		"az_strg_ls_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'az_strg_ls'"
		},
		"azure_pipeline_metadata_update_ls_functionKey": {
			"type": "secureString",
			"metadata": "Secure string for 'functionKey' of 'azure_pipeline_metadata_update_ls'"
		},
		"sftp_capita_ls_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'sftp_capita_ls'"
		},
		"az_func_update_objectprops_properties_typeProperties_functionAppUrl": {
			"type": "string",
			"defaultValue": "https://dev-capita-pipelinemetadataupdate-func.azurewebsites.net"
		},
		"azure_pipeline_metadata_update_ls_properties_typeProperties_functionAppUrl": {
			"type": "string",
			"defaultValue": "https://dev-capita-pipelinemetadataupdate-func.azurewebsites.net"
		},
		"hcp_http_ls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://ns01.tenant01.coe-hcp01.hitachivantara.com/rest/"
		},
		"http_rest_ls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://tenant01.coe-hcp01.hitachivantara.com/query"
		},
		"sftp_capita_ls_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "13.78.132.95"
		},
		"sftp_capita_ls_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "guestuser"
		},
		"on_query_csv_upload_properties_typeProperties_scope": {
			"type": "string",
			"defaultValue": "/subscriptions/2a3390b4-6a54-48b5-812a-35320c2fab9c/resourceGroups/dev-capita-rg/providers/Microsoft.Storage/storageAccounts/devcapitaevidentialst"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Main')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "until_records_processed",
						"type": "Until",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@lessOrEquals(activity('get_records_from_initialstatus').output.firstRow.recordsCount,0)",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "processor_hcp_pipe",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "get_records_from_initialstatus",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "processor_hcp_pipe",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {}
									}
								},
								{
									"name": "processor_copy_db_pipe",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "processor_azure_fillprops_pipe",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "processor_sql_cosmos_pipe",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {}
									}
								},
								{
									"name": "processor_azure_pipe",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "processor_hcp_pipe",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "processor_azure_pipe",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {}
									}
								},
								{
									"name": "processor_azure_fillprops_pipe",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "processor_azure_pipe",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "processor_azure_fillprops_pipe",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {}
									}
								},
								{
									"name": "get_records_from_initialstatus",
									"type": "Lookup",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzureSqlSource",
											"sqlReaderStoredProcedureName": "[[dbo].[USP_Get_ObjectsWithInitialStatus]",
											"storedProcedureParameters": {
												"count": {
													"type": "Int32",
													"value": {
														"value": "@pipeline().parameters.CountOfRecordsToProcess",
														"type": "Expression"
													}
												}
											},
											"queryTimeout": "02:00:00"
										},
										"dataset": {
											"referenceName": "az_sql_hcp_data",
											"type": "DatasetReference",
											"parameters": {}
										}
									}
								},
								{
									"name": "cleanup_pipe",
									"type": "ExecutePipeline",
									"dependsOn": [
										{
											"activity": "processor_copy_db_pipe",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "cleanup_pipe",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {}
									}
								}
							],
							"timeout": "7.00:00:00"
						}
					}
				],
				"parameters": {
					"CountofRecordsToProcess": {
						"type": "int",
						"defaultValue": 1
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/processor_hcp_pipe')]",
				"[concat(variables('factoryId'), '/pipelines/processor_sql_cosmos_pipe')]",
				"[concat(variables('factoryId'), '/pipelines/processor_azure_pipe')]",
				"[concat(variables('factoryId'), '/pipelines/processor_azure_fillprops_pipe')]",
				"[concat(variables('factoryId'), '/datasets/az_sql_hcp_data')]",
				"[concat(variables('factoryId'), '/pipelines/cleanup_pipe')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/cleanup_pipe')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "get_objects_cleanup",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[USP_Get_ObjectsToCleanUp]",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "az_sql_hcp_data",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "foreach_object",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "get_objects_cleanup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('get_objects_cleanup').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "check_if_custommetadata_exists",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@bool(equals(item().CustomMetadataExists,'True'))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "delete_metadata_from_stage",
												"type": "Delete",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "az_object_upload_stg_ds",
														"type": "DatasetReference",
														"parameters": {
															"relativeURL": {
																"value": "@concat('metadata\\',item().ObjectPath,'.txt')",
																"type": "Expression"
															}
														}
													},
													"enableLogging": false,
													"storeSettings": {
														"type": "AzureBlobStorageReadSettings",
														"recursive": true
													}
												}
											}
										]
									}
								},
								{
									"name": "delete_staged_object",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "check_if_custommetadata_exists",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "az_object_upload_stg_ds",
											"type": "DatasetReference",
											"parameters": {
												"relativeURL": {
													"value": "@item().ObjectPath",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true
										}
									}
								},
								{
									"name": "update_cleanup_flag",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "delete_staged_object",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[USP_UpdateCleanUp_FlagToTrue]",
										"storedProcedureParameters": {
											"id": {
												"value": {
													"value": "@item().id",
													"type": "Expression"
												},
												"type": "Guid"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "az_sql_ls",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/az_sql_hcp_data')]",
				"[concat(variables('factoryId'), '/datasets/az_object_upload_stg_ds')]",
				"[concat(variables('factoryId'), '/linkedServices/az_sql_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/delta_purgerecords_pipe')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "getrecords_forpurge",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "update_records_to_purge_operation",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[USP_Get_PurgedObject]",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "az_sql_hcp_data",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "foreach_record",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "getrecords_forpurge",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('getrecords_forpurge').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "delete_object",
									"type": "Delete",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "az_object_upload_prod_ds",
											"type": "DatasetReference",
											"parameters": {
												"relativeURL": "@item().ObjectPath"
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true
										}
									}
								},
								{
									"name": "fill_object_properties",
									"type": "AzureFunctionActivity",
									"dependsOn": [
										{
											"activity": "delete_object",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"functionName": "deleterecord",
										"method": "POST",
										"headers": {
											"Content-Type": "application/json"
										},
										"body": {
											"value": "@item().Id",
											"type": "Expression"
										}
									},
									"linkedServiceName": {
										"referenceName": "az_func_update_objectprops",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "update_records_to_purge_operation",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "copy_csv_purged_records",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[USP_Get_ObjectsByStatus]"
						},
						"linkedServiceName": {
							"referenceName": "az_sql_ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "copy_csv_purged_records",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "copy_sftp_files_azstore",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"wildcardFolderPath": "*",
									"wildcardFileName": "*.txt",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "csv_purgerecords_sql_ds",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "az_sql_hcp_delta_purge_data",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "copy_sftp_files_azstore",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": true,
									"wildcardFileName": "*.csv"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobStorageWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "sftp_csv_purged_ds",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "az_csv_purged_ls",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"parameters": {
					"referenceTable": {
						"type": "string",
						"defaultValue": "tblpurgerecords"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/az_sql_hcp_data')]",
				"[concat(variables('factoryId'), '/linkedServices/az_sql_ls')]",
				"[concat(variables('factoryId'), '/datasets/csv_purgerecords_sql_ds')]",
				"[concat(variables('factoryId'), '/datasets/az_sql_hcp_delta_purge_data')]",
				"[concat(variables('factoryId'), '/datasets/sftp_csv_purged_ds')]",
				"[concat(variables('factoryId'), '/datasets/az_csv_purged_ls')]",
				"[concat(variables('factoryId'), '/datasets/az_object_upload_prod_ds')]",
				"[concat(variables('factoryId'), '/linkedServices/az_func_update_objectprops')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/preprocessor_pipe')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copy_query_sql",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "StartDateTime",
											"type": "String"
										},
										"sink": {
											"name": "StartDateTime",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "EndDateTime",
											"type": "String"
										},
										"sink": {
											"name": "EndDateTime",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NameSpace",
											"type": "String"
										},
										"sink": {
											"name": "Namespace",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "IncludePurgeRecords",
											"type": "Boolean"
										},
										"sink": {
											"name": "IncludePurgeRecords",
											"type": "Boolean"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "csv_sql_ds",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "azsql_csv_sql_ds",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "get_queries_to_process_lkup",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "copy_query_sql",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select * from tblhcpqueries where status='Initial'",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "azsql_csv_sql_ds",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "foreach_query",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "get_queries_to_process_lkup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('get_queries_to_process_lkup').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "upload_hcpdata_to_sql",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"additionalColumns": [
												{
													"name": "BatchId",
													"value": {
														"value": "@item().Id",
														"type": "Expression"
													}
												}
											],
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "POST",
											"requestBody": {
												"value": "@{concat('<queryRequest><object><query>namespace:',item().namespace,' +updateTimeString:[',item().StartDateTime,' TO ',item().EndDateTime,']</query><verbose>true</verbose></object></queryRequest>')}",
												"type": "Expression"
											},
											"additionalHeaders": {
												"Authorization": "HCP ZGF0YWFjY2Vzc3VzZXIwMQ==:2b1130feb9e66aed8403dea732c16492",
												"Content-Type": "application/xml"
											}
										},
										"sink": {
											"type": "AzureSqlSink"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "[['urlName']"
													},
													"sink": {
														"name": "ObjectFullPath",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['operation']"
													},
													"sink": {
														"name": "Operation",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['version']"
													},
													"sink": {
														"name": "Version",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['objectPath']"
													},
													"sink": {
														"name": "ObjectPath",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['type']"
													},
													"sink": {
														"name": "Type",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['size']"
													},
													"sink": {
														"name": "ObjectSize",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "[['retention']"
													},
													"sink": {
														"name": "Retention",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['hold']"
													},
													"sink": {
														"name": "Hold",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['shred']"
													},
													"sink": {
														"name": "Shred",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['owner']"
													},
													"sink": {
														"name": "Owner",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['ingestTime']"
													},
													"sink": {
														"name": "IngestTime",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['customMetadata']"
													},
													"sink": {
														"name": "CustomMetadataExists",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['index']"
													},
													"sink": {
														"name": "Index",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['hash']"
													},
													"sink": {
														"name": "Hash",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['updateTime']"
													},
													"sink": {
														"name": "UpdateTime",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['namespace']"
													},
													"sink": {
														"name": "Namespace",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['customMetadataAnnotation']"
													},
													"sink": {
														"name": "CustomMetadataAnnotation",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['BatchId']"
													},
													"sink": {
														"name": "BatchID",
														"type": "Guid"
													}
												}
											],
											"collectionReference": "$['queryResult']['resultSet']"
										}
									},
									"inputs": [
										{
											"referenceName": "hcp_data_download_ds",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "az_sql_hcp_data",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "usp_update_query_status",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "upload_hcpdata_to_sql",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[USP_UpdateQuery_Status]",
										"storedProcedureParameters": {
											"id": {
												"value": {
													"value": "@item().Id",
													"type": "Expression"
												},
												"type": "Guid"
											},
											"status": {
												"value": "Complete",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "az_sql_ls",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "update_error_upload_hcpdata_to_sql",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "upload_hcpdata_to_sql",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[USP_Insert_ErrorInformation]",
										"storedProcedureParameters": {
											"errorAtStage": {
												"value": "upload hcp data to sql",
												"type": "String"
											},
											"errorInPipeline": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"errorMessage": {
												"value": {
													"value": "@activity('upload_hcpdata_to_sql').error.message",
													"type": "Expression"
												},
												"type": "String"
											},
											"referenceId": {
												"value": {
													"value": "@item().id",
													"type": "Expression"
												},
												"type": "Guid"
											},
											"referenceTable": {
												"value": {
													"value": "@pipeline().parameters.referencetable",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "az_sql_ls",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "update_error_copy_query_sql",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "copy_query_sql",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[USP_Insert_ErrorInformation]",
							"storedProcedureParameters": {
								"errorAtStage": {
									"value": "copy query information to sql",
									"type": "String"
								},
								"errorInPipeline": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"errorMessage": {
									"value": {
										"value": "@activity('copy_query_sql').error.message",
										"type": "Expression"
									},
									"type": "String"
								},
								"referenceId": {
									"value": "",
									"type": "Guid"
								},
								"referenceTable": {
									"value": {
										"value": "@pipeline().parameters.referencetable",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "az_sql_ls",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"referenceTable": {
						"type": "string",
						"defaultValue": "tblhcpqueries"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/csv_sql_ds')]",
				"[concat(variables('factoryId'), '/datasets/azsql_csv_sql_ds')]",
				"[concat(variables('factoryId'), '/linkedServices/az_sql_ls')]",
				"[concat(variables('factoryId'), '/datasets/hcp_data_download_ds')]",
				"[concat(variables('factoryId'), '/datasets/az_sql_hcp_data')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/processor_azure_fillprops_pipe')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "get_objects_to_process_lkup",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[USP_Get_ObjectsByStatus]",
								"storedProcedureParameters": {
									"baseURL": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.baseURL",
											"type": "Expression"
										}
									},
									"currentStatus": {
										"type": "String",
										"value": "IntegrityCheckInProgress... "
									},
									"previousStatus": {
										"type": "String",
										"value": "ObjectLoaded"
									}
								},
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "azsql_csv_sql_ds",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "foreach_object",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "get_objects_to_process_lkup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('get_objects_to_process_lkup').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "fill_object_properties",
									"type": "AzureFunctionActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"functionName": "hcpmetadataupdate",
										"method": "POST",
										"headers": {
											"Content-Type": "application/json"
										},
										"body": {
											"value": "@concat('{\n\"filepath\": \"',pipeline().parameters.azurecontainer,'/',item().ObjectPath,'\",\n\"customMetadataExists\":\"',item().CustomMetadataExists,'\"\n}')",
											"type": "Expression"
										}
									},
									"linkedServiceName": {
										"referenceName": "az_func_update_objectprops",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "update_metadata_and_integrity_check",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "fill_object_properties",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[USP_Update_Metadata]",
										"storedProcedureParameters": {
											"azureHash": {
												"value": {
													"value": "@activity('fill_object_properties').output.sha256",
													"type": "Expression"
												},
												"type": "String"
											},
											"customMetadata": {
												"value": {
													"value": "@activity('fill_object_properties').output.customMetadata",
													"type": "Expression"
												},
												"type": "String"
											},
											"eTag": {
												"value": {
													"value": "@activity('fill_object_properties').output.eTag",
													"type": "Expression"
												},
												"type": "String"
											},
											"id": {
												"value": {
													"value": "@item().Id",
													"type": "Expression"
												},
												"type": "Guid"
											},
											"MD5": {
												"value": {
													"value": "@activity('fill_object_properties').output.contentMD5",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "az_sql_ls",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "update_error_fill_object_props",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "fill_object_properties",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[USP_Insert_ErrorInformation]",
										"storedProcedureParameters": {
											"errorAtStage": {
												"value": "fill object properties",
												"type": "String"
											},
											"errorInPipeline": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"errorMessage": {
												"value": {
													"value": "@activity('fill_object_properties').error.message",
													"type": "Expression"
												},
												"type": "String"
											},
											"referenceId": {
												"value": {
													"value": "@item().id",
													"type": "Expression"
												},
												"type": "Guid"
											},
											"referenceTable": {
												"value": {
													"value": "@pipeline().parameters.referencetable",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "az_sql_ls",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"parameters": {
					"baseURL": {
						"type": "string",
						"defaultValue": "https://ns01.tenant01.coe-hcp01.hitachivantara.com/rest/"
					},
					"azurecontainer": {
						"type": "string",
						"defaultValue": "evidential"
					},
					"azurestagecontainer": {
						"type": "string",
						"defaultValue": "hcpstage"
					},
					"referencetable": {
						"type": "string",
						"defaultValue": "tblhcpdata"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/azsql_csv_sql_ds')]",
				"[concat(variables('factoryId'), '/linkedServices/az_func_update_objectprops')]",
				"[concat(variables('factoryId'), '/linkedServices/az_sql_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/processor_azure_pipe')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "get_objects_to_process_lkup",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[USP_Get_ObjectsByStatus]",
								"storedProcedureParameters": {
									"baseURL": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.baseURL",
											"type": "Expression"
										}
									},
									"currentStatus": {
										"type": "String",
										"value": "ObjectLoadingInProgress...."
									},
									"previousStatus": {
										"type": "String",
										"value": "ObjectStaged"
									}
								},
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "azsql_csv_sql_ds",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "foreach_object",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "get_objects_to_process_lkup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('get_objects_to_process_lkup').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "copy_objects_stage_main",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AvroSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true
											}
										},
										"sink": {
											"type": "AvroSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "AvroWriteSettings",
												"quoteAllText": true
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "az_object_upload_stg_ds",
											"type": "DatasetReference",
											"parameters": {
												"relativeURL": "@item().ObjectPath"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "az_object_upload_prod_ds",
											"type": "DatasetReference",
											"parameters": {
												"relativeURL": "@item().ObjectPath"
											}
										}
									]
								},
								{
									"name": "update_status_objectloaded",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "copy_objects_stage_main",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[USP_UpdateHcpData_Status]",
										"storedProcedureParameters": {
											"id": {
												"value": {
													"value": "@item().Id",
													"type": "Expression"
												},
												"type": "Guid"
											},
											"status": {
												"value": "ObjectLoaded",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "az_sql_ls",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "update_error_copy_objects_stage_main",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "copy_objects_stage_main",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[USP_Insert_ErrorInformation]",
										"storedProcedureParameters": {
											"errorAtStage": {
												"value": "fill object properties",
												"type": "String"
											},
											"errorInPipeline": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"errorMessage": {
												"value": {
													"value": "@activity('copy_objects_stage_main').error.message",
													"type": "Expression"
												},
												"type": "String"
											},
											"referenceId": {
												"value": {
													"value": "@item().id",
													"type": "Expression"
												},
												"type": "Guid"
											},
											"referenceTable": {
												"value": {
													"value": "@pipeline().parameters.referencetable",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "az_sql_ls",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"parameters": {
					"baseURL": {
						"type": "string",
						"defaultValue": "https://ns01.tenant01.coe-hcp01.hitachivantara.com/rest/"
					},
					"azurecontainer": {
						"type": "string",
						"defaultValue": "evidential"
					},
					"azurestagecontainer": {
						"type": "string",
						"defaultValue": "hcpstage"
					},
					"referencetable": {
						"type": "string",
						"defaultValue": "tblhcpdata"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/azsql_csv_sql_ds')]",
				"[concat(variables('factoryId'), '/datasets/az_object_upload_stg_ds')]",
				"[concat(variables('factoryId'), '/datasets/az_object_upload_prod_ds')]",
				"[concat(variables('factoryId'), '/linkedServices/az_sql_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/processor_hcp_pipe')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "get_objects_to_process_lkup",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[USP_Get_ObjectsByStatus]",
								"storedProcedureParameters": {
									"baseURL": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.baseURL",
											"type": "Expression"
										}
									},
									"currentStatus": {
										"type": "String",
										"value": "ObjectStagingInProgress..."
									},
									"previousStatus": {
										"type": "String",
										"value": null
									}
								},
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "azsql_csv_sql_ds",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "foreach_object",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "get_objects_to_process_lkup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('get_objects_to_process_lkup').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "download_object",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AvroSource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET",
												"additionalHeaders": "Authorization: HCP ZGF0YWFjY2Vzc3VzZXIwMQ==:2b1130feb9e66aed8403dea732c16492",
												"requestTimeout": ""
											}
										},
										"sink": {
											"type": "AvroSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "AvroWriteSettings",
												"quoteAllText": true
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "hcp_object_download_ds",
											"type": "DatasetReference",
											"parameters": {
												"relativeURL": {
													"value": "@item().ObjectPath",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "az_object_upload_stg_ds",
											"type": "DatasetReference",
											"parameters": {
												"relativeURL": {
													"value": "@item().ObjectPath",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "update_status_objectstaged",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "check_custommetadata_exists",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[USP_UpdateHcpData_Status]",
										"storedProcedureParameters": {
											"id": {
												"value": {
													"value": "@item().Id",
													"type": "Expression"
												},
												"type": "Guid"
											},
											"status": {
												"value": "ObjectStaged",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "az_sql_ls",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "check_custommetadata_exists",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "download_object",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@bool(equals(item().CustomMetadataExists,'True'))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "download_metadata_object",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AvroSource",
														"storeSettings": {
															"type": "HttpReadSettings",
															"requestMethod": "GET",
															"additionalHeaders": "Authorization: HCP ZGF0YWFjY2Vzc3VzZXIwMQ==:2b1130feb9e66aed8403dea732c16492",
															"requestTimeout": ""
														}
													},
													"sink": {
														"type": "AvroSink",
														"storeSettings": {
															"type": "AzureBlobStorageWriteSettings"
														},
														"formatSettings": {
															"type": "AvroWriteSettings",
															"quoteAllText": true
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "hcp_metadata_download_ls",
														"type": "DatasetReference",
														"parameters": {
															"relativeURL": {
																"value": "@concat(item().ObjectPath,'?type=custom-metadata&annotation=',item().CustomMetadataAnnotation)",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "az_object_upload_stg_ds",
														"type": "DatasetReference",
														"parameters": {
															"relativeURL": "@concat('metadata/',item().ObjectPath,'.txt')"
														}
													}
												]
											},
											{
												"name": "update_status_metadata_downloaded",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "download_metadata_object",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[USP_UpdateHcpData_Status]",
													"storedProcedureParameters": {
														"id": {
															"value": {
																"value": "@item().Id",
																"type": "Expression"
															},
															"type": "Guid"
														},
														"status": {
															"value": "Metadata Downloaded",
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "az_sql_ls",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "update_error_download_metadata",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "download_metadata_object",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[USP_Insert_ErrorInformation]",
													"storedProcedureParameters": {
														"errorAtStage": {
															"value": "download metadata object",
															"type": "String"
														},
														"errorInPipeline": {
															"value": {
																"value": "@pipeline().Pipeline",
																"type": "Expression"
															},
															"type": "String"
														},
														"errorMessage": {
															"value": {
																"value": "@activity('download_metadata_object').error.message",
																"type": "Expression"
															},
															"type": "String"
														},
														"referenceId": {
															"value": {
																"value": "@item().id",
																"type": "Expression"
															},
															"type": "Guid"
														},
														"referenceTable": {
															"value": {
																"value": "@pipeline().parameters.referencetable",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "az_sql_ls",
													"type": "LinkedServiceReference"
												}
											}
										]
									}
								},
								{
									"name": "update_error_download_object",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "download_object",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[USP_Insert_ErrorInformation]",
										"storedProcedureParameters": {
											"errorAtStage": {
												"value": "download object",
												"type": "String"
											},
											"errorInPipeline": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"errorMessage": {
												"value": {
													"value": "@activity('download_object').error.message",
													"type": "Expression"
												},
												"type": "String"
											},
											"referenceId": {
												"value": {
													"value": "@item().id",
													"type": "Expression"
												},
												"type": "Guid"
											},
											"referenceTable": {
												"value": {
													"value": "@pipeline().parameters.referencetable",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "az_sql_ls",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"parameters": {
					"baseURL": {
						"type": "string",
						"defaultValue": "https://ns01.tenant01.coe-hcp01.hitachivantara.com/rest/"
					},
					"azurecontainer": {
						"type": "string",
						"defaultValue": "evidential"
					},
					"azurestagecontainer": {
						"type": "string",
						"defaultValue": "hcpstage"
					},
					"referencetable": {
						"type": "string",
						"defaultValue": "tblhcpdata"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/azsql_csv_sql_ds')]",
				"[concat(variables('factoryId'), '/datasets/hcp_object_download_ds')]",
				"[concat(variables('factoryId'), '/datasets/az_object_upload_stg_ds')]",
				"[concat(variables('factoryId'), '/linkedServices/az_sql_ls')]",
				"[concat(variables('factoryId'), '/datasets/hcp_metadata_download_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/processor_sql_cosmos_pipe')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "update_error_copy_data_to_cosmos",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "copy_data_to_cosmos",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[USP_Insert_ErrorInformation]",
							"storedProcedureParameters": {
								"errorAtStage": {
									"value": "download object",
									"type": "String"
								},
								"errorInPipeline": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"errorMessage": {
									"value": {
										"value": "@activity('copy_data_to_cosmos').error.message",
										"type": "Expression"
									},
									"type": "String"
								},
								"referenceId": {
									"type": "Guid"
								},
								"referenceTable": {
									"value": {
										"value": "@pipeline().parameters.referencetable",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "az_sql_ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "save_status_of_processor",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "copy_data_to_cosmos",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[USP_UpdateProcessor_Pipe_Status]"
						},
						"linkedServiceName": {
							"referenceName": "az_sql_ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "copy_data_to_cosmos",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[USP_Get_ObjectsToBeProcessedForCosmos]",
								"storedProcedureParameters": {
									"application": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.azurecontainer",
											"type": "Expression"
										}
									}
								},
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "CosmosDbSqlApiSink",
								"writeBehavior": "upsert",
								"disableMetricsCollection": false
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "Guid"
										},
										"sink": {
											"path": "$['id']"
										}
									},
									{
										"source": {
											"name": "Application",
											"type": "String"
										},
										"sink": {
											"path": "$['application']"
										}
									},
									{
										"source": {
											"name": "FilePath",
											"type": "String"
										},
										"sink": {
											"path": "$['FilePath']"
										}
									},
									{
										"source": {
											"name": "SnapshotPath",
											"type": "String"
										},
										"sink": {
											"path": "$['SnapshotPath']"
										}
									},
									{
										"source": {
											"name": "IsSnapshot",
											"type": "Boolean"
										},
										"sink": {
											"path": "$['IsSnapshot']"
										}
									},
									{
										"source": {
											"name": "Version",
											"type": "Int64"
										},
										"sink": {
											"path": "$['Version']"
										}
									},
									{
										"source": {
											"name": "Hold",
											"type": "Boolean"
										},
										"sink": {
											"path": "$['SystemMetadata']['Hold']"
										}
									},
									{
										"source": {
											"name": "Index",
											"type": "Boolean"
										},
										"sink": {
											"path": "$['SystemMetadata']['Index']"
										}
									},
									{
										"source": {
											"name": "Shred",
											"type": "Boolean"
										},
										"sink": {
											"path": "$['SystemMetadata']['Shred']"
										}
									},
									{
										"source": {
											"name": "Retention",
											"type": "Int64"
										},
										"sink": {
											"path": "$['SystemMetadata']['Retention']"
										}
									},
									{
										"source": {
											"name": "CustomMetadata",
											"type": "String"
										},
										"sink": {
											"path": "$['CustomMetadata']"
										}
									},
									{
										"source": {
											"name": "DocumentSize",
											"type": "Int32"
										},
										"sink": {
											"path": "$['DocumentSize']"
										}
									},
									{
										"source": {
											"name": "LastModifiedDate",
											"type": "Int32"
										},
										"sink": {
											"path": "$['LastModifiedDate']"
										}
									},
									{
										"source": {
											"name": "Status",
											"type": "String"
										},
										"sink": {
											"path": "$['Status']"
										}
									},
									{
										"source": {
											"name": "QueueRequestType",
											"type": "String"
										},
										"sink": {
											"path": "$['QueueRequestType']"
										}
									},
									{
										"source": {
											"name": "ContentMD5",
											"type": "String"
										},
										"sink": {
											"path": "$['ContentMD5']"
										}
									},
									{
										"source": {
											"name": "LeaseId",
											"type": "String"
										},
										"sink": {
											"path": "$['LeaseId']"
										}
									},
									{
										"source": {
											"name": "CreatedDate",
											"type": "Int32"
										},
										"sink": {
											"path": "$['CreatedDate']"
										}
									},
									{
										"source": {
											"name": "ETag",
											"type": "String"
										},
										"sink": {
											"path": "$['ETag']"
										}
									},
									{
										"source": {
											"name": "FileName",
											"type": "String"
										},
										"sink": {
											"path": "$['FileName']"
										}
									},
									{
										"source": {
											"name": "FileType",
											"type": "String"
										},
										"sink": {
											"path": "$['FileType']"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "az_sql_hcp_data",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "az_metadata_cosmos_ds",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"parameters": {
					"referencetable": {
						"type": "string",
						"defaultValue": "tblhcpdata"
					},
					"azurecontainer": {
						"type": "string",
						"defaultValue": "evidential"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/az_sql_ls')]",
				"[concat(variables('factoryId'), '/datasets/az_sql_hcp_data')]",
				"[concat(variables('factoryId'), '/datasets/az_metadata_cosmos_ds')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/az_metadata_cosmos_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "az_cosmos_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CosmosDbSqlApiCollection",
				"schema": {
					"type": "object",
					"properties": {
						"application": {
							"type": "string"
						},
						"FilePath": {
							"type": "string"
						},
						"SnapshotPath": {
							"type": "string"
						},
						"IsSnapshot": {
							"type": "boolean"
						},
						"Version": {
							"type": "string"
						},
						"SystemMetadata": {
							"type": "object",
							"properties": {
								"Hold": {
									"type": "boolean"
								},
								"Index": {
									"type": "boolean"
								},
								"Shred": {
									"type": "boolean"
								},
								"Retention": {
									"type": "integer"
								}
							}
						},
						"CustomMetadata": {
							"type": "null"
						},
						"DocumentSize": {
							"type": "integer"
						},
						"ClientId": {
							"type": "string"
						},
						"LastModifiedDate": {
							"type": "integer"
						},
						"Status": {
							"type": "string"
						},
						"QueueRequestType": {
							"type": "string"
						},
						"ContentMD5": {
							"type": "string"
						},
						"LeaseId": {
							"type": "string"
						},
						"CreatedDate": {
							"type": "integer"
						},
						"ETag": {
							"type": "string"
						}
					}
				},
				"typeProperties": {
					"collectionName": "metadata"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/az_cosmos_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/az_object_upload_prod_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "az_strg_ls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"relativeURL": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Avro",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().relativeURL",
							"type": "Expression"
						},
						"container": "evidential"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/az_strg_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/az_object_upload_stg_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "az_strg_ls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"relativeURL": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Avro",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().relativeURL",
							"type": "Expression"
						},
						"container": "hcpstage"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/az_strg_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/az_sql_hcp_data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "az_sql_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "tblhcpdata"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/az_sql_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/az_sql_hcp_delta_purge_data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "az_sql_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "tblPurgeRecords"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/az_sql_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/azsql_csv_sql_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "az_sql_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "uniqueidentifier"
					},
					{
						"name": "IngestStartDateTime",
						"type": "nvarchar"
					},
					{
						"name": "IngestEndDateTime",
						"type": "nvarchar"
					},
					{
						"name": "Namespace",
						"type": "nvarchar"
					},
					{
						"name": "RecordsCount",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Status",
						"type": "nvarchar"
					},
					{
						"name": "CreatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tblhcpqueries"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/az_sql_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/csv_purgerecords_sql_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "az_strg_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "purgedrecords"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/az_strg_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/csv_sql_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "az_strg_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "samplequerydata.csv",
						"container": "inputquery"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/az_strg_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/hcp_data_download_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "http_rest_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/http_rest_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/hcp_download_data_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "http_rest_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/http_rest_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/hcp_metadata_download_ls')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "hcp_http_ls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"relativeURL": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Avro",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": {
							"value": "@dataset().relativeURL",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hcp_http_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/hcp_object_download_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "hcp_http_ls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"relativeURL": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Avro",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": {
							"value": "@dataset().relativeURL",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hcp_http_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sftp_csv_purged_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sftp_capita_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "SftpLocation",
						"folderPath": "/incoming"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "HCPID,RetentionDate,HoldStatus",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sftp_capita_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/az_cosmos_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "CosmosDb",
				"typeProperties": {
					"connectionString": "[parameters('az_cosmos_ls_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/az_func_update_objectprops')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "[parameters('az_func_update_objectprops_properties_typeProperties_functionAppUrl')]",
					"functionKey": {
						"type": "SecureString",
						"value": "[parameters('az_func_update_objectprops_functionKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/az_sql_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('az_sql_ls_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/az_strg_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('az_strg_ls_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/azure_pipeline_metadata_update_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "[parameters('azure_pipeline_metadata_update_ls_properties_typeProperties_functionAppUrl')]",
					"functionKey": {
						"type": "SecureString",
						"value": "[parameters('azure_pipeline_metadata_update_ls_functionKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/hcp_http_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('hcp_http_ls_properties_typeProperties_url')]",
					"enableServerCertificateValidation": false,
					"authenticationType": "Anonymous"
				},
				"connectVia": {
					"referenceName": "hcp-Ir",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/hcp-Ir')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/http_rest_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('http_rest_ls_properties_typeProperties_url')]",
					"enableServerCertificateValidation": false,
					"authenticationType": "Anonymous"
				},
				"connectVia": {
					"referenceName": "hcp-Ir",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/hcp-Ir')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sftp_capita_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Sftp",
				"typeProperties": {
					"host": "[parameters('sftp_capita_ls_properties_typeProperties_host')]",
					"port": 22,
					"skipHostKeyValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('sftp_capita_ls_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('sftp_capita_ls_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/on_query_csv_upload')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "Main",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "BlobEventsTrigger",
				"typeProperties": {
					"blobPathBeginsWith": "/inputquery/blobs/",
					"blobPathEndsWith": "samplequerydata.csv",
					"ignoreEmptyBlobs": true,
					"scope": "[parameters('on_query_csv_upload_properties_typeProperties_scope')]",
					"events": [
						"Microsoft.Storage.BlobCreated"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/Main')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/hcp-Ir')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/az_csv_purged_ls')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "az_strg_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "purgedrecords"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/az_strg_ls')]"
			]
		}
	]
}