dev-capita-df/PartialArmTemplates/ArmTemplate_6_13_2020_20_58_16.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "dev-capita-df"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/delta_purgerecords_pipe')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "getrecords_forpurge",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "update_records_to_purge_operation",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[USP_Get_PurgedObject]",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "az_sql_hcp_data",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "foreach_record",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "getrecords_forpurge",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('getrecords_forpurge').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "delete_object",
									"type": "Delete",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "az_object_upload_prod_ds",
											"type": "DatasetReference",
											"parameters": {
												"relativeURL": "@item().ObjectPath"
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true
										}
									}
								},
								{
									"name": "delete_cosmos_record",
									"type": "AzureFunctionActivity",
									"dependsOn": [
										{
											"activity": "delete_object",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"functionName": "deleterecord",
										"method": "POST",
										"headers": {
											"Content-Type": "application/json"
										},
										"body": {
											"value": "@item().Id",
											"type": "Expression"
										}
									},
									"linkedServiceName": {
										"referenceName": "az_fun_delete_cosmos_record",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "update_records_to_purge_operation",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "copy_sftp_files_azstore",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[USP_Update_delta_purgedrecords]"
						},
						"linkedServiceName": {
							"referenceName": "az_sql_ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "copy_sftp_files_azstore",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "SftpReadSettings",
									"recursive": true,
									"wildcardFileName": "ERMS_Deletion*.csv"
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "EvidentialRecordID",
											"type": "String"
										},
										"sink": {
											"name": "EvidentialRecordId",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "EvidenceStoreID",
											"type": "String"
										},
										"sink": {
											"name": "ObjectPath",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "sftp_csv_purged_ds",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "az_sql_hcp_delta_purge_data",
								"type": "DatasetReference"
							}
						]
					}
				],
				"parameters": {
					"referenceTable": {
						"type": "string",
						"defaultValue": "tblpurgerecords"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/az_fun_delete_cosmos_record')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/processor_azure_fillprops_pipe')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "get_objects_to_process_lkup",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[USP_Get_ObjectsByStatus]",
								"storedProcedureParameters": {
									"baseURL": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.baseURL",
											"type": "Expression"
										}
									},
									"currentStatus": {
										"type": "String",
										"value": "IntegrityCheckInProgress... "
									},
									"previousStatus": {
										"type": "String",
										"value": "ObjectLoaded"
									}
								},
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "azsql_csv_sql_ds",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "foreach_object",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "get_objects_to_process_lkup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('get_objects_to_process_lkup').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "fill_object_properties",
									"type": "AzureFunctionActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"functionName": "hcpmetadataupdate",
										"method": "POST",
										"headers": {
											"Content-Type": "application/json"
										},
										"body": {
											"value": "@concat('{\n\"filepath\": \"',pipeline().parameters.azurecontainer,'/',item().ObjectPath,'\",\n\"customMetadataExists\":\"',item().CustomMetadataExists,'\"\n}')",
											"type": "Expression"
										}
									},
									"linkedServiceName": {
										"referenceName": "azure_pipeline_metadata_update_ls",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "update_metadata_and_integrity_check",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "fill_object_properties",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[USP_Update_Metadata]",
										"storedProcedureParameters": {
											"azureHash": {
												"value": {
													"value": "@activity('fill_object_properties').output.sha256",
													"type": "Expression"
												},
												"type": "String"
											},
											"customMetadata": {
												"value": {
													"value": "@activity('fill_object_properties').output.customMetadata",
													"type": "Expression"
												},
												"type": "String"
											},
											"eTag": {
												"value": {
													"value": "@activity('fill_object_properties').output.eTag",
													"type": "Expression"
												},
												"type": "String"
											},
											"id": {
												"value": {
													"value": "@item().Id",
													"type": "Expression"
												},
												"type": "Guid"
											},
											"MD5": {
												"value": {
													"value": "@activity('fill_object_properties').output.contentMD5",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "az_sql_ls",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "update_error_fill_object_props",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "fill_object_properties",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[USP_Insert_ErrorInformation]",
										"storedProcedureParameters": {
											"errorAtStage": {
												"value": "fill object properties",
												"type": "String"
											},
											"errorInPipeline": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"errorMessage": {
												"value": {
													"value": "@activity('fill_object_properties').error.message",
													"type": "Expression"
												},
												"type": "String"
											},
											"referenceId": {
												"value": {
													"value": "@item().id",
													"type": "Expression"
												},
												"type": "Guid"
											},
											"referenceTable": {
												"value": {
													"value": "@pipeline().parameters.referencetable",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "az_sql_ls",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"parameters": {
					"baseURL": {
						"type": "string",
						"defaultValue": "https://ns01.tenant01.coe-hcp01.hitachivantara.com/rest/"
					},
					"azurecontainer": {
						"type": "string",
						"defaultValue": "evidential"
					},
					"azurestagecontainer": {
						"type": "string",
						"defaultValue": "hcpstage"
					},
					"referencetable": {
						"type": "string",
						"defaultValue": "tblhcpdata"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/az_fun_delete_cosmos_record')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "https://dev-capitatfl-deletecosmosrecord.azurewebsites.net",
					"functionKey": {
						"type": "SecureString",
						"value": "**********"
					}
				}
			},
			"dependsOn": []
		}
	]
}