dev-capita-df/PartialArmTemplates/ArmTemplate_5_7_2020_18_58_44.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "dev-capita-df"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/process_data_pipe')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "for_each_object",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "get_objects_to_process",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('get_objects_to_process').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "upload_data_hcp_to_stage_azure",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AvroSource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET",
												"additionalHeaders": "Authorization: HCP YWRtaW4=:79ccb574b8b45414a34cb69d17b03040",
												"requestTimeout": ""
											}
										},
										"sink": {
											"type": "AvroSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "AvroWriteSettings",
												"quoteAllText": true
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "hcp_data_download_avro_ds",
											"type": "DatasetReference",
											"parameters": {
												"relativeURL": {
													"value": "@item().ObjectPath",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "azure_data_upload_avro_stage_ds",
											"type": "DatasetReference",
											"parameters": {
												"relativeURL": {
													"value": "@item().ObjectPath",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "upload_data_stage_to_main_azure",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "usp_update_status_for_hcp_stage",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AvroSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true
											}
										},
										"sink": {
											"type": "AvroSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											},
											"formatSettings": {
												"type": "AvroWriteSettings",
												"quoteAllText": true
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "azure_data_upload_avro_stage_ds",
											"type": "DatasetReference",
											"parameters": {
												"relativeURL": {
													"value": "@item().ObjectPath",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "azure_data_upload_avro_ds",
											"type": "DatasetReference",
											"parameters": {
												"relativeURL": {
													"value": "@item().ObjectPath",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "delete_stage_object_Azure",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "usp_update_status_for_stage_main_azure",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "azure_data_upload_avro_stage_ds",
											"type": "DatasetReference",
											"parameters": {
												"relativeURL": {
													"value": "@item().ObjectPath",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true
										}
									}
								},
								{
									"name": "check_if_custommetada_exists",
									"type": "IfCondition",
									"dependsOn": [
										{
											"activity": "usp_update_status_for_delete_stage_objects",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@bool(equals(item().CustomMetadataExists,'True'))",
											"type": "Expression"
										},
										"ifFalseActivities": [
											{
												"name": "usp_update_error_save_status",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "update_metadata_for_false_condition",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[USP_Update_FailedObjectStatus]",
													"storedProcedureParameters": {
														"error": {
															"value": {
																"value": "@activity('update_metadata_for_false_condition').error.message",
																"type": "Expression"
															},
															"type": "String"
														},
														"errorAtStage": {
															"value": "update process to cosmos - false condition",
															"type": "String"
														},
														"id": {
															"value": {
																"value": "@item().id",
																"type": "Expression"
															},
															"type": "Guid"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "capita_hcpdata_db",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "update_metadata_for_false_condition",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "fill_metadata_for_false_condition",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[USP_Update_Metadata]",
													"storedProcedureParameters": {
														"azureHash": {
															"value": {
																"value": "@activity('fill_metadata_for_false_condition').output.shA256",
																"type": "Expression"
															},
															"type": "String"
														},
														"customMetadata": {
															"value": {
																"value": "@activity('fill_metadata_for_false_condition').output.customMetadata",
																"type": "Expression"
															},
															"type": "String"
														},
														"eTag": {
															"value": {
																"value": "@activity('fill_metadata_for_false_condition').output.eTag",
																"type": "Expression"
															},
															"type": "String"
														},
														"id": {
															"value": {
																"value": "@item().id",
																"type": "Expression"
															},
															"type": "Guid"
														},
														"MD5": {
															"value": {
																"value": "@activity('fill_metadata_for_false_condition').output.contentMD5",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "capita_hcpdata_db",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "usp_update_error_fill_metadata",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "fill_metadata_for_false_condition",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[USP_Update_FailedObjectStatus]",
													"storedProcedureParameters": {
														"error": {
															"value": {
																"value": "@activity('fill_metadata_for_false_condition').error.message",
																"type": "Expression"
															},
															"type": "String"
														},
														"errorAtStage": {
															"value": "fill metadata ",
															"type": "String"
														},
														"id": {
															"value": {
																"value": "@item().id",
																"type": "Expression"
															},
															"type": "Guid"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "capita_hcpdata_db",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "fill_metadata_for_false_condition",
												"type": "AzureFunctionActivity",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"functionName": "hcpmetadataupdate",
													"method": "POST",
													"headers": {
														"Content-Type": "application/json"
													},
													"body": {
														"value": "@concat('{\n\"filepath\": \"evidential/',item().ObjectPath,'\",\n\"customMetadataExists\":\"false\"\n}')",
														"type": "Expression"
													}
												},
												"linkedServiceName": {
													"referenceName": "azure_pipeline_metadata_update_ls",
													"type": "LinkedServiceReference"
												}
											}
										],
										"ifTrueActivities": [
											{
												"name": "usp_update_error_hcp_metadata",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "upload_data_hcp_metadata_to_stage_azure",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[USP_Update_FailedObjectStatus]",
													"storedProcedureParameters": {
														"error": {
															"value": {
																"value": "@activity('upload_data_hcp_metadata_to_stage_azure').error.message",
																"type": "Expression"
															},
															"type": "String"
														},
														"errorAtStage": {
															"value": "upload metadata to hcp error",
															"type": "String"
														},
														"id": {
															"value": {
																"value": "@item().id",
																"type": "Expression"
															},
															"type": "Guid"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "capita_hcpdata_db",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "fill_metadata_for_true_condition",
												"type": "AzureFunctionActivity",
												"dependsOn": [
													{
														"activity": "upload_data_hcp_metadata_to_stage_azure",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"functionName": "hcpmetadataupdate",
													"method": "POST",
													"headers": {
														"content-type": "application\\json"
													},
													"body": {
														"value": "@concat('{\n\"filepath\": \"evidential/',item().ObjectPath,'\",\n\"customMetadataExists\":\"True\"\n}')",
														"type": "Expression"
													}
												},
												"linkedServiceName": {
													"referenceName": "azure_pipeline_metadata_update_ls",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "update_metadata_for_true_condition",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "fill_metadata_for_true_condition",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[USP_Update_Metadata]",
													"storedProcedureParameters": {
														"azureHash": {
															"value": {
																"value": "@activity('fill_metadata_for_true_condition').output.shA256",
																"type": "Expression"
															},
															"type": "String"
														},
														"customMetadata": {
															"value": {
																"value": "@activity('fill_metadata_for_true_condition').output.customMetadata",
																"type": "Expression"
															},
															"type": "String"
														},
														"eTag": {
															"value": {
																"value": "@activity('fill_metadata_for_true_condition').output.output.eTag",
																"type": "Expression"
															},
															"type": "String"
														},
														"id": {
															"value": {
																"value": "@item().id",
																"type": "Expression"
															},
															"type": "Guid"
														},
														"MD5": {
															"value": {
																"value": "@activity('fill_metadata_for_true_condition').output.contentMD5",
																"type": "Expression"
															},
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "capita_hcpdata_db",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "upload_data_hcp_metadata_to_stage_azure",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "AvroSource",
														"storeSettings": {
															"type": "HttpReadSettings",
															"requestMethod": "GET",
															"additionalHeaders": "Authorization: HCP YWRtaW4=:79ccb574b8b45414a34cb69d17b03040",
															"requestTimeout": ""
														}
													},
													"sink": {
														"type": "AvroSink",
														"storeSettings": {
															"type": "AzureBlobStorageWriteSettings"
														},
														"formatSettings": {
															"type": "AvroWriteSettings",
															"quoteAllText": true
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "hcp_data_download_avro_ds",
														"type": "DatasetReference",
														"parameters": {
															"relativeURL": {
																"value": "@concat(item().ObjectPath,'?type=custom-metadata&annotation=',item().CustomMetadataAnnotation)",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "azure_data_upload_avro_stage_ds",
														"type": "DatasetReference",
														"parameters": {
															"relativeURL": {
																"value": "@concat('metadata/',item().ObjectPath)",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "usp_update_error_fill_metadata_true",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "fill_metadata_for_true_condition",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[[dbo].[USP_Update_FailedObjectStatus]",
													"storedProcedureParameters": {
														"error": {
															"value": {
																"value": "@activity('fill_metadata_for_true_condition').error.message",
																"type": "Expression"
															},
															"type": "String"
														},
														"errorAtStage": {
															"value": "fill_metadata_true_condition",
															"type": "String"
														},
														"id": {
															"value": {
																"value": "@item().id",
																"type": "Expression"
															},
															"type": "Guid"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "capita_hcpdata_db",
													"type": "LinkedServiceReference"
												}
											}
										]
									}
								},
								{
									"name": "usp_update_error_at_hcp_to_stage_storage",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "upload_data_hcp_to_stage_azure",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[USP_Update_FailedObjectStatus]",
										"storedProcedureParameters": {
											"error": {
												"value": {
													"value": "@activity('upload_data_hcp_to_stage_azure').error.message",
													"type": "Expression"
												},
												"type": "String"
											},
											"errorAtStage": {
												"value": "Upload Object from HCP to Stage",
												"type": "String"
											},
											"id": {
												"value": {
													"value": "@item().id",
													"type": "Expression"
												},
												"type": "Guid"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "capita_hcpdata_db",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "usp_update_error_at_stage_to_main_storage_copy",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "upload_data_stage_to_main_azure",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[USP_Update_FailedObjectStatus]",
										"storedProcedureParameters": {
											"error": {
												"value": {
													"value": "@activity('upload_data_stage_to_main_azure').error.message",
													"type": "Expression"
												},
												"type": "String"
											},
											"errorAtStage": {
												"value": "Upload Object from Stage to Main",
												"type": "String"
											},
											"id": {
												"value": {
													"value": "@item().id",
													"type": "Expression"
												},
												"type": "Guid"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "capita_hcpdata_db",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "usp_update_error_at_delete_object",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "delete_stage_object_Azure",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[USP_Update_FailedObjectStatus]",
										"storedProcedureParameters": {
											"error": {
												"value": {
													"value": "@activity('delete_stage_object_Azure').error.message",
													"type": "Expression"
												},
												"type": "String"
											},
											"errorAtStage": {
												"value": "Delete Object from Stage",
												"type": "String"
											},
											"id": {
												"value": {
													"value": "@item().id",
													"type": "Expression"
												},
												"type": "Guid"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "capita_hcpdata_db",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "usp_update_status_for_hcp_stage",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "upload_data_hcp_to_stage_azure",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[USP_Update_Status_Of_Execution]",
										"storedProcedureParameters": {
											"id": {
												"value": {
													"value": "@item().Id",
													"type": "Expression"
												},
												"type": "Guid"
											},
											"status": {
												"value": "ObjectIsStaged",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "capita_hcpdata_db",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "usp_update_status_for_stage_main_azure",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "upload_data_stage_to_main_azure",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[USP_Update_Status_Of_Execution]",
										"storedProcedureParameters": {
											"id": {
												"value": {
													"value": "@item().Id",
													"type": "Expression"
												},
												"type": "Guid"
											},
											"status": {
												"value": "ObjectIsInContainer",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "capita_hcpdata_db",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "usp_update_status_for_delete_stage_objects",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "delete_stage_object_Azure",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[USP_Update_Status_Of_Execution]",
										"storedProcedureParameters": {
											"id": {
												"value": {
													"value": "@item().Id",
													"type": "Expression"
												},
												"type": "Guid"
											},
											"status": {
												"value": "ObjectInStageIsDeleted",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "capita_hcpdata_db",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "get_objects_to_process",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[USP_Get_HCPObjectsToProcess]",
								"queryTimeout": "23:20:00"
							},
							"dataset": {
								"referenceName": "hcp_data_sql_ds",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Copy_sql_cosmos",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "for_each_object",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[USP_Get_ObjectsToBeProcessedForCosmos]",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "CosmosDbSqlApiSink",
								"writeBehavior": "insert"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "Application",
											"type": "String"
										},
										"sink": {
											"path": "$['application']"
										}
									},
									{
										"source": {
											"name": "FilePath",
											"type": "String"
										},
										"sink": {
											"path": "$['FilePath']"
										}
									},
									{
										"source": {
											"name": "SnapshotPath",
											"type": "String"
										},
										"sink": {
											"path": "$['SnapshotPath']"
										}
									},
									{
										"source": {
											"name": "IsSnapshot",
											"type": "Boolean"
										},
										"sink": {
											"path": "$['IsSnapshot']"
										}
									},
									{
										"source": {
											"name": "Version",
											"type": "Int64"
										},
										"sink": {
											"path": "$['Version']"
										}
									},
									{
										"source": {
											"name": "Hold",
											"type": "Boolean"
										},
										"sink": {
											"path": "$['System']['Hold']"
										}
									},
									{
										"source": {
											"name": "Index",
											"type": "Boolean"
										},
										"sink": {
											"path": "$['System']['Index']"
										}
									},
									{
										"source": {
											"name": "Shred",
											"type": "Boolean"
										},
										"sink": {
											"path": "$['System']['Shred']"
										}
									},
									{
										"source": {
											"name": "Retention",
											"type": "Int64"
										},
										"sink": {
											"path": "$['System']['Retention']"
										}
									},
									{
										"source": {
											"name": "CustomMetadata",
											"type": "String"
										},
										"sink": {
											"path": "$['CustomMetadata']"
										}
									},
									{
										"source": {
											"name": "DocumentSize",
											"type": "Int32"
										},
										"sink": {
											"path": "$['DocumentSize']"
										}
									},
									{
										"source": {
											"name": "Status",
											"type": "String"
										},
										"sink": {
											"path": "$['Status']"
										}
									},
									{
										"source": {
											"name": "QueueRequestType",
											"type": "String"
										},
										"sink": {
											"path": "$['QueueRequestType']"
										}
									},
									{
										"source": {
											"name": "ContentMD5",
											"type": "String"
										},
										"sink": {
											"path": "$['ContentMD5']"
										}
									},
									{
										"source": {
											"name": "LeaseId",
											"type": "String"
										},
										"sink": {
											"path": "$['LeaseId']"
										}
									},
									{
										"source": {
											"name": "CreatedDate",
											"type": "Int32"
										},
										"sink": {
											"path": "$['CreatedDate']"
										}
									},
									{
										"source": {
											"name": "LastModifiedDate",
											"type": "Int32"
										},
										"sink": {
											"path": "$['LastModifiedDate']"
										}
									},
									{
										"source": {
											"name": "BatchID",
											"type": "String"
										},
										"sink": {
											"path": "$['BatchId']"
										}
									},
									{
										"source": {
											"name": "ID",
											"type": "Guid"
										},
										"sink": {
											"path": "$['id']"
										}
									},
									{
										"source": {
											"name": "ETag",
											"type": "String"
										},
										"sink": {
											"path": "$['ETag']"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "hcp_data_sql_ds",
								"type": "DatasetReference"
							}
						],
						"outputs": [
							{
								"referenceName": "hcp_data_cosmos_ds",
								"type": "DatasetReference"
							}
						]
					},
					{
						"name": "usp_update_status_success",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "Copy_sql_cosmos",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[USP_Update_SucessObjectStatus]",
							"storedProcedureParameters": {
								"id": {
									"value": null,
									"type": "Guid"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "capita_hcpdata_db",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		}
	]
}