dev-capita-df/PartialArmTemplates/ArmTemplate_5_20_2020_10_56_13.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "dev-capita-df"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Main')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "preprocessor_pipe",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "preprocessor_pipe",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "postprocessor_pipe",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "processor_copy_db_pipe",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "postprocessor_pipe",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "processor_copy_db_pipe",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "processor_azure_fillprops_pipe",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "processor_sql_cosmos_pipe",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "processor_hcp_pipe",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "preprocessor_pipe",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "processor_hcp_pipe",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "processor_azure_pipe",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "processor_hcp_pipe",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "processor_azure_pipe",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					},
					{
						"name": "processor_azure_fillprops_pipe",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "processor_azure_pipe",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "processor_azure_fillprops_pipe",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/processor_azure_pipe')]",
				"[concat(variables('factoryId'), '/pipelines/processor_azure_fillprops_pipe')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/processor_azure_pipe')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "get_objects_to_process_lkup",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[USP_Get_ObjectsByStatus]",
								"storedProcedureParameters": {
									"baseURL": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.baseURL",
											"type": "Expression"
										}
									},
									"status": {
										"type": "String",
										"value": "ObjectStaged"
									}
								},
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "azsql_csv_sql_ds",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "foreach_object",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "get_objects_to_process_lkup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('get_objects_to_process_lkup').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "fill_object_properties",
									"type": "AzureFunctionActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"functionName": "hcpmetadataupdate",
										"method": "POST",
										"headers": {
											"Content-Type": "application/json"
										},
										"body": {
											"value": "@concat('{\n\"filepath\": \"',pipeline().parameters.azurecontainer,'/',item().ObjectPath,'\",\n\"customMetadataExists\":\"',item().CustomMetadataExists,'\"\n}')",
											"type": "Expression"
										}
									},
									"linkedServiceName": {
										"referenceName": "az_func_update_objectprops",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "update_metadata_and_integrity_check",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "fill_object_properties",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[USP_Update_Metadata]",
										"storedProcedureParameters": {
											"azureHash": {
												"value": {
													"value": "@activity('fill_object_properties').output.sha256",
													"type": "Expression"
												},
												"type": "String"
											},
											"customMetadata": {
												"value": {
													"value": "@activity('fill_object_properties').output.customMetadata",
													"type": "Expression"
												},
												"type": "String"
											},
											"eTag": {
												"value": {
													"value": "@activity('fill_object_properties').output.eTag",
													"type": "Expression"
												},
												"type": "String"
											},
											"id": {
												"value": {
													"value": "@item().Id",
													"type": "Expression"
												},
												"type": "Guid"
											},
											"MD5": {
												"value": {
													"value": "@activity('fill_object_properties').output.contentMD5",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "az_sql_ls",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "update_error_fill_object_props",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "fill_object_properties",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[USP_Insert_ErrorInformation]",
										"storedProcedureParameters": {
											"errorAtStage": {
												"value": "fill object properties",
												"type": "String"
											},
											"errorInPipeline": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"errorMessage": {
												"value": {
													"value": "@activity('fill_object_properties').error.message",
													"type": "Expression"
												},
												"type": "String"
											},
											"referenceId": {
												"value": {
													"value": "@item().id",
													"type": "Expression"
												},
												"type": "Guid"
											},
											"referenceTable": {
												"value": {
													"value": "@pipeline().parameters.referencetable",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "az_sql_ls",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"parameters": {
					"baseURL": {
						"type": "string",
						"defaultValue": "https://ns01.tenant01.coe-hcp01.hitachivantara.com/rest/"
					},
					"azurecontainer": {
						"type": "string",
						"defaultValue": "evidential"
					},
					"azurestagecontainer": {
						"type": "string",
						"defaultValue": "hcpstage"
					},
					"referencetable": {
						"type": "string",
						"defaultValue": "tblhcpdata"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/processor_azure_fillprops_pipe')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "get_objects_to_process_lkup",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[USP_Get_ObjectsByStatus]",
								"storedProcedureParameters": {
									"baseURL": {
										"type": "String",
										"value": {
											"value": "@pipeline().parameters.baseURL",
											"type": "Expression"
										}
									},
									"status": {
										"type": "String",
										"value": "ObjectLoaded"
									}
								},
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "azsql_csv_sql_ds",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "foreach_object",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "get_objects_to_process_lkup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('get_objects_to_process_lkup').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "fill_object_properties",
									"type": "AzureFunctionActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"functionName": "hcpmetadataupdate",
										"method": "POST",
										"headers": {
											"Content-Type": "application/json"
										},
										"body": {
											"value": "@concat('{\n\"filepath\": \"',pipeline().parameters.azurecontainer,'/',item().ObjectPath,'\",\n\"customMetadataExists\":\"',item().CustomMetadataExists,'\"\n}')",
											"type": "Expression"
										}
									},
									"linkedServiceName": {
										"referenceName": "az_func_update_objectprops",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "update_metadata_and_integrity_check",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "fill_object_properties",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[USP_Update_Metadata]",
										"storedProcedureParameters": {
											"azureHash": {
												"value": {
													"value": "@activity('fill_object_properties').output.sha256",
													"type": "Expression"
												},
												"type": "String"
											},
											"customMetadata": {
												"value": {
													"value": "@activity('fill_object_properties').output.customMetadata",
													"type": "Expression"
												},
												"type": "String"
											},
											"eTag": {
												"value": {
													"value": "@activity('fill_object_properties').output.eTag",
													"type": "Expression"
												},
												"type": "String"
											},
											"id": {
												"value": {
													"value": "@item().Id",
													"type": "Expression"
												},
												"type": "Guid"
											},
											"MD5": {
												"value": {
													"value": "@activity('fill_object_properties').output.contentMD5",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "az_sql_ls",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "update_error_fill_object_props",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "fill_object_properties",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[USP_Insert_ErrorInformation]",
										"storedProcedureParameters": {
											"errorAtStage": {
												"value": "fill object properties",
												"type": "String"
											},
											"errorInPipeline": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"errorMessage": {
												"value": {
													"value": "@activity('fill_object_properties').error.message",
													"type": "Expression"
												},
												"type": "String"
											},
											"referenceId": {
												"value": {
													"value": "@item().id",
													"type": "Expression"
												},
												"type": "Guid"
											},
											"referenceTable": {
												"value": {
													"value": "@pipeline().parameters.referencetable",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "az_sql_ls",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"parameters": {
					"baseURL": {
						"type": "string",
						"defaultValue": "https://ns01.tenant01.coe-hcp01.hitachivantara.com/rest/"
					},
					"azurecontainer": {
						"type": "string",
						"defaultValue": "evidential"
					},
					"azurestagecontainer": {
						"type": "string",
						"defaultValue": "hcpstage"
					},
					"referencetable": {
						"type": "string",
						"defaultValue": "tblhcpdata"
					}
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}