dev-capita-df/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "dev-capita-df"
		},
		"az_cosmos_ls_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'az_cosmos_ls'"
		},
		"az_func_update_props_ls_functionKey": {
			"type": "secureString",
			"metadata": "Secure string for 'functionKey' of 'az_func_update_props_ls'"
		},
		"az_sql_ls_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'az_sql_ls'"
		},
		"az_strg_ls_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'az_strg_ls'"
		},
		"hcp_http_ls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://ns01.tenant01.coe-hcp01.hitachivantara.com/rest/"
		},
		"http_rest_ls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://tenant01.coe-hcp01.hitachivantara.com/query"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/az_cosmos_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "CosmosDb",
				"typeProperties": {
					"connectionString": "[parameters('az_cosmos_ls_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/az_func_update_props_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "https://dev-capita-pipelinemetadataupdate-func.azurewebsites.net",
					"functionKey": {
						"type": "SecureString",
						"value": "[parameters('az_func_update_props_ls_functionKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/az_sql_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('az_sql_ls_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/az_strg_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('az_strg_ls_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/hcp-Ir')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/postprocessor_pipe')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Stored procedure1",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[USP_Get_ObjectsToBeProcessedForCosmos]"
						},
						"linkedServiceName": {
							"referenceName": "az_sql_ls",
							"type": "LinkedServiceReference"
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/az_sql_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/az_metadata_cosmos_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "az_cosmos_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CosmosDbSqlApiCollection",
				"schema": {
					"type": "object",
					"properties": {
						"application": {
							"type": "string"
						},
						"FilePath": {
							"type": "string"
						},
						"SnapshotPath": {
							"type": "null"
						},
						"IsSnapshot": {
							"type": "boolean"
						},
						"Version": {
							"type": "string"
						},
						"SystemMetadata": {
							"type": "object",
							"properties": {
								"Hold": {
									"type": "boolean"
								},
								"Index": {
									"type": "boolean"
								},
								"Shred": {
									"type": "boolean"
								},
								"Retention": {
									"type": "integer"
								}
							}
						},
						"CustomMetadata": {
							"type": "object",
							"properties": {
								"Root": {
									"type": "object",
									"properties": {
										"DocumentOutbound": {
											"type": "object",
											"properties": {
												"CorrespondenceID": {
													"type": "string"
												},
												"Version": {
													"type": "object",
													"properties": {
														"@key": {
															"type": "string"
														},
														"@val": {
															"type": "string"
														},
														"#text": {
															"type": "string"
														}
													}
												},
												"Contract": {
													"type": "string"
												},
												"RepositoryID": {
													"type": "string"
												},
												"SourceSystemID": {
													"type": "string"
												},
												"FileName": {
													"type": "string"
												},
												"Submitter": {
													"type": "string"
												},
												"Comment": {
													"type": "string"
												},
												"CategoryID": {
													"type": "object",
													"properties": {
														"@rm": {
															"type": "string"
														},
														"#text": {
															"type": "string"
														}
													}
												},
												"SubCategoryID": {
													"type": "string"
												},
												"AccountNumber": {
													"type": "string"
												},
												"PCNNumber": {
													"type": "string"
												},
												"SelfID": {
													"type": "string"
												},
												"Batched": {
													"type": "string"
												},
												"Posted": {
													"type": "string"
												},
												"BatchType": {
													"type": "string"
												},
												"BatchNumber": {
													"type": "string"
												},
												"RelatedDocumentID": {
													"type": "string"
												},
												"Created": {
													"type": "string"
												},
												"Modified": {
													"type": "string"
												}
											}
										},
										"EmailOutbound": {
											"type": "object",
											"properties": {
												"CorrespondenceID": {
													"type": "string"
												},
												"Version": {
													"type": "string"
												},
												"Contract": {
													"type": "string"
												},
												"RepositoryID": {
													"type": "string"
												},
												"SourceSystemID": {
													"type": "string"
												},
												"FileName": {
													"type": "string"
												},
												"Submitter": {
													"type": "string"
												},
												"Comment": {
													"type": "string"
												},
												"CategoryID": {
													"type": "string"
												},
												"SubCategoryID": {
													"type": "string"
												},
												"AccountNumber": {
													"type": "string"
												},
												"PCNNumber": {
													"type": "string"
												},
												"SelfID": {
													"type": "string"
												},
												"Batched": {
													"type": "string"
												},
												"Posted": {
													"type": "string"
												},
												"BatchType": {
													"type": "string"
												},
												"BatchNumber": {
													"type": "string"
												},
												"RelatedDocumentID": {
													"type": "string"
												},
												"Created": {
													"type": "string"
												},
												"Modified": {
													"type": "string"
												}
											}
										},
										"Test": {
											"type": "object",
											"properties": {
												"CorrespondenceID": {
													"type": "string"
												},
												"Version": {
													"type": "string"
												},
												"Contract": {
													"type": "string"
												},
												"RepositoryID": {
													"type": "string"
												},
												"SourceSystemID": {
													"type": "string"
												},
												"FileName": {
													"type": "string"
												},
												"Submitter": {
													"type": "string"
												},
												"Comment": {
													"type": "string"
												},
												"CategoryID": {
													"type": "string"
												},
												"SubCategoryID": {
													"type": "string"
												},
												"AccountNumber": {
													"type": "string"
												},
												"PCNNumber": {
													"type": "string"
												},
												"SelfID": {
													"type": "string"
												},
												"Batched": {
													"type": "string"
												},
												"Posted": {
													"type": "string"
												},
												"BatchType": {
													"type": "string"
												},
												"BatchNumber": {
													"type": "string"
												},
												"RelatedDocumentID": {
													"type": "string"
												},
												"Created": {
													"type": "string"
												},
												"Modified": {
													"type": "string"
												}
											}
										}
									}
								}
							}
						},
						"DocumentSize": {
							"type": "integer"
						},
						"ClientId": {
							"type": "string"
						},
						"LastModifiedDate": {
							"type": "integer"
						},
						"Status": {
							"type": "string"
						},
						"QueueRequestType": {
							"type": "string"
						},
						"ContentMD5": {
							"type": "string"
						},
						"LeaseId": {
							"type": "string"
						},
						"CreatedDate": {
							"type": "integer"
						},
						"ETag": {
							"type": "string"
						}
					}
				},
				"typeProperties": {
					"collectionName": "metadata"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/az_cosmos_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/az_object_upload_prod_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "az_strg_ls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"relativeURL": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Avro",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().relativeURL",
							"type": "Expression"
						},
						"container": "evidential"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/az_strg_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/az_object_upload_stg_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "az_strg_ls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"relativeURL": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Avro",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().relativeURL",
							"type": "Expression"
						},
						"container": "hcpstage"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/az_strg_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/az_sql_hcp_data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "az_sql_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "tblhcpdata"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/az_sql_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/azsql_csv_sql_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "az_sql_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "uniqueidentifier"
					},
					{
						"name": "IngestStartDateTime",
						"type": "nvarchar"
					},
					{
						"name": "IngestEndDateTime",
						"type": "nvarchar"
					},
					{
						"name": "Namespace",
						"type": "nvarchar"
					},
					{
						"name": "RecordsCount",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Status",
						"type": "nvarchar"
					},
					{
						"name": "CreatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tblhcpqueries"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/az_sql_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/csv_sql_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "az_strg_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "hcpqueries.csv",
						"container": "inputquery"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/az_strg_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/hcp_http_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('hcp_http_ls_properties_typeProperties_url')]",
					"enableServerCertificateValidation": false,
					"authenticationType": "Anonymous"
				},
				"connectVia": {
					"referenceName": "hcp-Ir",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/hcp-Ir')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/http_rest_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('http_rest_ls_properties_typeProperties_url')]",
					"enableServerCertificateValidation": false,
					"authenticationType": "Anonymous"
				},
				"connectVia": {
					"referenceName": "hcp-Ir",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/hcp-Ir')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copy_csv_sql",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"type": "String",
											"ordinal": 1
										},
										"sink": {
											"name": "ObjectFullPath",
											"type": "String"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 2
										},
										"sink": {
											"name": "ObjectSize",
											"type": "Int32"
										}
									},
									{
										"source": {
											"type": "String",
											"ordinal": 5
										},
										"sink": {
											"name": "Hash",
											"type": "String"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "csv_sql_ds",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "azsql_csv_sql_ds",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/csv_sql_ds')]",
				"[concat(variables('factoryId'), '/datasets/azsql_csv_sql_ds')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/hcp_data_download_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "http_rest_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/http_rest_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/hcp_download_data_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "http_rest_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/http_rest_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/hcp_metadata_download_ls')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "hcp_http_ls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"relativeURL": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Avro",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": {
							"value": "@dataset().relativeURL",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hcp_http_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/hcp_object_download_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "hcp_http_ls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"relativeURL": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Avro",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": {
							"value": "@dataset().relativeURL",
							"type": "Expression"
						}
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/hcp_http_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/preprocessor_pipe')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copy_query_sql",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "IngestStartDateTime",
											"type": "String"
										},
										"sink": {
											"name": "IngestStartDateTime",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "IngestEndDateTime",
											"type": "String"
										},
										"sink": {
											"name": "IngestEndDateTime",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "NameSpace",
											"type": "String"
										},
										"sink": {
											"name": "Namespace",
											"type": "String"
										}
									},
									{
										"source": {
											"name": "CountOfRecordsToBeProcessedAtOnce",
											"type": "String"
										},
										"sink": {
											"name": "RecordsCount",
											"type": "Int32"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "csv_sql_ds",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "azsql_csv_sql_ds",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "get_queries_to_process_lkup",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "copy_query_sql",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select * from tblhcpqueries where status='Initial'",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "azsql_csv_sql_ds",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "foreach_query",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "get_queries_to_process_lkup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('get_queries_to_process_lkup').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "upload_hcpdata_to_sql",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"additionalColumns": [
												{
													"name": "BatchId",
													"value": {
														"value": "@item().Id",
														"type": "Expression"
													}
												}
											],
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "POST",
											"requestBody": {
												"value": "@{concat('<queryRequest><object><query>namespace:',item().namespace,' +ingestTimeString:[',item().ingestStartDateTime,' TO ',item().ingestEndDateTime,']</query><verbose>true</verbose></object></queryRequest>')}",
												"type": "Expression"
											},
											"additionalHeaders": {
												"Authorization": "HCP ZGF0YWFjY2Vzc3VzZXIwMQ==:2b1130feb9e66aed8403dea732c16492",
												"Content-Type": "application/xml"
											}
										},
										"sink": {
											"type": "AzureSqlSink"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "[['urlName']"
													},
													"sink": {
														"name": "ObjectFullPath",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['operation']"
													},
													"sink": {
														"name": "Operation",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['version']"
													},
													"sink": {
														"name": "Version",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['objectPath']"
													},
													"sink": {
														"name": "ObjectPath",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['type']"
													},
													"sink": {
														"name": "Type",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['size']"
													},
													"sink": {
														"name": "ObjectSize",
														"type": "Int32"
													}
												},
												{
													"source": {
														"path": "[['retention']"
													},
													"sink": {
														"name": "Retention",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['hold']"
													},
													"sink": {
														"name": "Hold",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['shred']"
													},
													"sink": {
														"name": "Shred",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['owner']"
													},
													"sink": {
														"name": "Owner",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['ingestTime']"
													},
													"sink": {
														"name": "IngestTime",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['customMetadata']"
													},
													"sink": {
														"name": "CustomMetadataExists",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['index']"
													},
													"sink": {
														"name": "Index",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['hash']"
													},
													"sink": {
														"name": "Hash",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['updateTime']"
													},
													"sink": {
														"name": "UpdateTime",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['namespace']"
													},
													"sink": {
														"name": "Namespace",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['customMetadataAnnotation']"
													},
													"sink": {
														"name": "CustomMetadataAnnotation",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['BatchId']"
													},
													"sink": {
														"name": "BatchID",
														"type": "Guid"
													}
												}
											],
											"collectionReference": "$['queryResult']['resultSet']"
										}
									},
									"inputs": [
										{
											"referenceName": "hcp_data_download_ds",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "az_sql_hcp_data",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								},
								{
									"name": "usp_update_query_status",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "upload_hcpdata_to_sql",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[USP_UpdateQuery_Status]",
										"storedProcedureParameters": {
											"id": {
												"value": {
													"value": "@item().Id",
													"type": "Expression"
												},
												"type": "Guid"
											},
											"status": {
												"value": "Complete",
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "az_sql_ls",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "update_error_upload_hcpdata_to_sql",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "upload_hcpdata_to_sql",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[USP_Insert_ErrorInformation]",
										"storedProcedureParameters": {
											"errorAtStage": {
												"value": "upload hcp data to sql",
												"type": "String"
											},
											"errorInPipeline": {
												"value": {
													"value": "@pipeline().Pipeline",
													"type": "Expression"
												},
												"type": "String"
											},
											"errorMessage": {
												"value": {
													"value": "@activity('upload_hcpdata_to_sql').error.message",
													"type": "Expression"
												},
												"type": "String"
											},
											"referenceId": {
												"value": "@item().id",
												"type": "Guid"
											},
											"referenceTable": {
												"value": {
													"value": "@pipeline().parameters.referencetable",
													"type": "Expression"
												},
												"type": "String"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "az_sql_ls",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					},
					{
						"name": "update_error_copy_query_sql",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "copy_query_sql",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[USP_Insert_ErrorInformation]",
							"storedProcedureParameters": {
								"errorAtStage": {
									"value": "copy query information to sql",
									"type": "String"
								},
								"errorInPipeline": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"errorMessage": {
									"value": {
										"value": "@activity('copy_query_sql').error.message",
										"type": "Expression"
									},
									"type": "String"
								},
								"referenceId": {
									"value": "",
									"type": "Guid"
								},
								"referenceTable": {
									"value": {
										"value": "@pipeline().parameters.referencetable",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "az_sql_ls",
							"type": "LinkedServiceReference"
						}
					},
					{
						"name": "update_error_get_queries_to_process_lkup",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [
							{
								"activity": "get_queries_to_process_lkup",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[USP_Insert_ErrorInformation]",
							"storedProcedureParameters": {
								"errorAtStage": {
									"value": "get queries to process lookup",
									"type": "String"
								},
								"errorInPipeline": {
									"value": {
										"value": "@pipeline().Pipeline",
										"type": "Expression"
									},
									"type": "String"
								},
								"errorMessage": {
									"value": {
										"value": "@activity('get_queries_to_process_lkup').error.message",
										"type": "Expression"
									},
									"type": "String"
								},
								"referenceId": {
									"value": "",
									"type": "Guid"
								},
								"referenceTable": {
									"value": {
										"value": "@pipeline().parameters.referencetable",
										"type": "Expression"
									},
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "az_sql_ls",
							"type": "LinkedServiceReference"
						}
					}
				],
				"parameters": {
					"referenceTable": {
						"type": "string",
						"defaultValue": "tblhcpqueries"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/csv_sql_ds')]",
				"[concat(variables('factoryId'), '/datasets/azsql_csv_sql_ds')]",
				"[concat(variables('factoryId'), '/linkedServices/az_sql_ls')]",
				"[concat(variables('factoryId'), '/datasets/hcp_data_download_ds')]",
				"[concat(variables('factoryId'), '/datasets/az_sql_hcp_data')]"
			]
		}
	]
}