dev-capita-df/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "dev-capita-df"
		},
		"az_cosmos_ls_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'az_cosmos_ls'"
		},
		"az_func_update_objectprops_functionKey": {
			"type": "secureString",
			"metadata": "Secure string for 'functionKey' of 'az_func_update_objectprops'"
		},
		"az_sql_ls_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'az_sql_ls'"
		},
		"az_strg_ls_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'az_strg_ls'"
		},
		"azure_pipeline_metadata_update_ls_functionKey": {
			"type": "secureString",
			"metadata": "Secure string for 'functionKey' of 'azure_pipeline_metadata_update_ls'"
		},
		"sftp_capita_ls_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'sftp_capita_ls'"
		},
		"az_func_update_objectprops_properties_typeProperties_functionAppUrl": {
			"type": "string",
			"defaultValue": "https://dev-capita-pipelinemetadataupdate-func.azurewebsites.net"
		},
		"azure_pipeline_metadata_update_ls_properties_typeProperties_functionAppUrl": {
			"type": "string",
			"defaultValue": "https://dev-capita-pipelinemetadataupdate-func.azurewebsites.net"
		},
		"sftp_capita_ls_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "13.78.132.95"
		},
		"sftp_capita_ls_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "guestuser"
		},
		"hcp_http_ls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://ns01.tenant01.coe-hcp01.hitachivantara.com/rest/"
		},
		"http_rest_ls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://tenant01.coe-hcp01.hitachivantara.com/query"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/az_cosmos_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "CosmosDb",
				"typeProperties": {
					"connectionString": "[parameters('az_cosmos_ls_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/az_func_update_objectprops')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "[parameters('az_func_update_objectprops_properties_typeProperties_functionAppUrl')]",
					"functionKey": {
						"type": "SecureString",
						"value": "[parameters('az_func_update_objectprops_functionKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/az_sql_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('az_sql_ls_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/az_strg_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('az_strg_ls_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/azure_pipeline_metadata_update_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureFunction",
				"typeProperties": {
					"functionAppUrl": "[parameters('azure_pipeline_metadata_update_ls_properties_typeProperties_functionAppUrl')]",
					"functionKey": {
						"type": "SecureString",
						"value": "[parameters('azure_pipeline_metadata_update_ls_functionKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/sftp_capita_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Sftp",
				"typeProperties": {
					"host": "[parameters('sftp_capita_ls_properties_typeProperties_host')]",
					"port": 22,
					"skipHostKeyValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('sftp_capita_ls_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('sftp_capita_ls_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/hcp-Ir')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/az_metadata_cosmos_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "az_cosmos_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "CosmosDbSqlApiCollection",
				"schema": {
					"type": "object",
					"properties": {
						"application": {
							"type": "string"
						},
						"FilePath": {
							"type": "string"
						},
						"SnapshotPath": {
							"type": "string"
						},
						"IsSnapshot": {
							"type": "boolean"
						},
						"Version": {
							"type": "string"
						},
						"SystemMetadata": {
							"type": "object",
							"properties": {
								"Hold": {
									"type": "boolean"
								},
								"Index": {
									"type": "boolean"
								},
								"Shred": {
									"type": "boolean"
								},
								"Retention": {
									"type": "integer"
								}
							}
						},
						"CustomMetadata": {
							"type": "null"
						},
						"DocumentSize": {
							"type": "integer"
						},
						"ClientId": {
							"type": "string"
						},
						"LastModifiedDate": {
							"type": "integer"
						},
						"Status": {
							"type": "string"
						},
						"QueueRequestType": {
							"type": "string"
						},
						"ContentMD5": {
							"type": "string"
						},
						"LeaseId": {
							"type": "string"
						},
						"CreatedDate": {
							"type": "integer"
						},
						"ETag": {
							"type": "string"
						}
					}
				},
				"typeProperties": {
					"collectionName": "metadata"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/az_cosmos_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/az_object_upload_prod_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "az_strg_ls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"relativeURL": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Avro",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().relativeURL",
							"type": "Expression"
						},
						"container": "evidential"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/az_strg_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/az_object_upload_stg_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "az_strg_ls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"relativeURL": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Avro",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().relativeURL",
							"type": "Expression"
						},
						"container": "hcpstage"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/az_strg_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/az_purged_objects_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "az_strg_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Avro",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "purgedrecords"
					}
				},
				"schema": {}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/az_strg_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/az_sql_hcp_data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "az_sql_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "tblhcpdata"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/az_sql_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/az_sql_hcp_delta_purge_data')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "az_sql_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "tblPurgeRecords"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/az_sql_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/azsql_csv_sql_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "az_sql_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "uniqueidentifier"
					},
					{
						"name": "IngestStartDateTime",
						"type": "nvarchar"
					},
					{
						"name": "IngestEndDateTime",
						"type": "nvarchar"
					},
					{
						"name": "Namespace",
						"type": "nvarchar"
					},
					{
						"name": "RecordsCount",
						"type": "int",
						"precision": 10
					},
					{
						"name": "Status",
						"type": "nvarchar"
					},
					{
						"name": "CreatedDate",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "tblhcpqueries"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/az_sql_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/csv_purgerecords_sql_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "az_strg_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"container": "purgedrecords"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/az_strg_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/csv_sql_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "az_strg_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "samplequerydata.csv",
						"container": "inputquery"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/az_strg_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sftp_csv_purged_ds')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "sftp_capita_ls",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "SftpLocation",
						"folderPath": "/incoming"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "HCPID,RetentionDate,HoldStatus",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/sftp_capita_ls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/hcp_http_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('hcp_http_ls_properties_typeProperties_url')]",
					"enableServerCertificateValidation": false,
					"authenticationType": "Anonymous"
				},
				"connectVia": {
					"referenceName": "hcp-Ir",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/hcp-Ir')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/http_rest_ls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('http_rest_ls_properties_typeProperties_url')]",
					"enableServerCertificateValidation": false,
					"authenticationType": "Anonymous"
				},
				"connectVia": {
					"referenceName": "hcp-Ir",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/hcp-Ir')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/cleanup_pipe')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "get_objects_cleanup",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderStoredProcedureName": "[[dbo].[USP_Get_ObjectsToCleanUp]",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "az_sql_hcp_data",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "foreach_object",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "get_objects_cleanup",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('get_objects_cleanup').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "check_if_custommetadata_exists",
									"type": "IfCondition",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"expression": {
											"value": "@bool(equals(item().CustomMetadataExists,'True'))",
											"type": "Expression"
										},
										"ifTrueActivities": [
											{
												"name": "delete_metadata_from_stage",
												"type": "Delete",
												"dependsOn": [],
												"policy": {
													"timeout": "7.00:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "az_object_upload_stg_ds",
														"type": "DatasetReference",
														"parameters": {
															"relativeURL": {
																"value": "@concat('metadata\\',item().ObjectPath,'.txt')",
																"type": "Expression"
															}
														}
													},
													"enableLogging": false,
													"storeSettings": {
														"type": "AzureBlobStorageReadSettings",
														"recursive": true
													}
												}
											}
										]
									}
								},
								{
									"name": "delete_staged_object",
									"type": "Delete",
									"dependsOn": [
										{
											"activity": "check_if_custommetadata_exists",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"dataset": {
											"referenceName": "az_object_upload_stg_ds",
											"type": "DatasetReference",
											"parameters": {
												"relativeURL": {
													"value": "@item().ObjectPath",
													"type": "Expression"
												}
											}
										},
										"enableLogging": false,
										"storeSettings": {
											"type": "AzureBlobStorageReadSettings",
											"recursive": true
										}
									}
								},
								{
									"name": "update_cleanup_flag",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "delete_staged_object",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[USP_UpdateCleanUp_FlagToTrue]",
										"storedProcedureParameters": {
											"id": {
												"value": {
													"value": "@item().id",
													"type": "Expression"
												},
												"type": "Guid"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "az_sql_ls",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/az_sql_hcp_data')]",
				"[concat(variables('factoryId'), '/datasets/az_object_upload_stg_ds')]",
				"[concat(variables('factoryId'), '/linkedServices/az_sql_ls')]"
			]
		}
	]
}